@import "tailwindcss";

@font-face {
  font-family: "font-lexia-readable";
  src: url(../fonts/lexia_readable/LexieReadable-Bold.ttf) format(truetype);
  font-display: swap;
}
@font-face {
  font-family: "font-open-dyslexic-regular";
  src: url(../fonts/open_dyslexic/OpenDyslexicAlta-Regular.otf) format(opentype);
  font-display: swap;
}
@font-face {
  font-family: "font-open-dyslexic-bold";
  src: url(../fonts/open_dyslexic/OpenDyslexicAlta-Bold.otf) format(opentype);
  font-display: swap;
}

:root {
  --background: #FFFCFE;
  --foreground: #282426;
}

@theme inline {
  --color-white-100: #FFFCFE;
  --color-white-200: #FFFAFD;
  --color-white-300: #FFF0F8;
  --color-black: #11000A;
  --color-gray: #282426;
  --color-dark-purple: #5E239D;
  --color-light-purple: #863DD4;
  --color-dark-pink-100: #FB3CA5;
  --color-dark-pink-200: #F20587;
  --color-light-pink-100: #FFD1E9;
  --color-light-pink-200: #FFC2E2;
  --font-poppins: var(--font-poppins);
  --text-44px: 44px;
  --text-32px: 32px;
  --text-28px: 28px;
  --spacing-100px: 100px;
  --spacing-70px: 70px;
  --spacing-16: 60px;
  --spacing-12: 50px;
  --spacing-8: 30px;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  @apply bg-white-100;
}
::-webkit-scrollbar-thumb {
  @apply bg-light-pink-100 rounded-full;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-light-pink-200;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #282426;
    --foreground: #FFFCFE;
  }
} */

body {
  @apply font-poppins text-white-100;
}

.font-title {
  font-family: "font-lexia-readable", sans-serif;
}
.font-text {
  font-family: "font-open-dyslexic-regular", sans-serif;
}
.font-text strong {
  font-family: "font-open-dyslexic-bold", sans-serif;
  background: linear-gradient(96deg, var(--color-light-pink-200) 0%, var(--color-light-pink-100) 90%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 4px 4px 4px #2824260D,
    4px 4px 4px #FFD1E908;
}
